body{
    margin: 0;
    padding: 0;
    background-color: #f8f9fb;
    font-family: poppins;
}
/* Login Page Starts */
#main{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 5px 2px rgba(94, 82, 82, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 17.5em;
    padding: 2%;
    border-radius: 45px;
}
img{
    margin: 10px;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 5px 2px rgba(94, 82, 82, 0.2);
}
.txt{
    padding: 5px;
    font-weight: 800;
    font-size: 1.3em;
}
.ip{
    border: none;
    font-family: poppins;
    padding: 10px;
    margin: 5px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(94, 82, 82, 0.2);
}
#btn{
    border: none;
    font-family: poppins;
    font-weight: 800;
    padding:10px 20px;
    color: white;
    margin: 10px;
    border-radius: 5px;
    background: rgb(0, 0, 122);
    box-shadow: 0px 0px 5px 2px rgba(94, 82, 82, 0.2);
}
/* Login Page Ends */

/* Navbar Starts */
#section{
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgba(94, 82, 82, 0.2);
}
#con button{
    font-family: poppins;
    color: rgb(0, 0, 51);
    font-weight: 800;
    font-size: 1.1em;
    background: none;
    border: none;
}
/* Navbar Ends */

/* Section 1 Starts */
#section1{
    display: none;
    margin-top: 3em;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgba(94, 82, 82, 0.2);
    width: 20em;
    border-radius: 25px;
}
#section1 h5{
    width: 6em;
}
#section1 h4{
    text-align: center;
    font-size:2em;
    margin: 15px;
}
#midsec{
    display: flex;
    align-items: center;
}
#midsec input{
    height: 2em;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(94, 82, 82, 0.2);
}
#update{
    background: rgb(0, 0, 51);
    font-family: poppins;
    font-size: 1em;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(94, 82, 82, 0.2);
}
/* Section 1 Ends */

/* Section 2 Starts */
#section2{
    display: none;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgba(94, 82, 82, 0.2);
    width: 15em;
    height: 20em;
    border-radius: 25px;
    text-align: center;
}
#section2 table td{
    padding: 10px;
}
#section2 table th{
    padding: 10px;
    font-size: 1.3em;
}
/* Section 2 Ends */
#btnACof{
    display: none;
}
#btnUPof{
    display: none;
}
#container{
    display: none;
}
